.container{
    background-color: darkblue;
    height: 17.3vh;
    width: 507px;
    margin-left: 40px;
}
.containerinfo{
    border-radius: 5px;
    width: 507px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.conatinerinfo span{
    background-color: rgb(181, 70, 189);
}
#date,#time{
    text-align: center;
}