.container{
    height: 79.7vh;
    width: 22vw;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.image{
    height: 250px;
    width: 22vw;
}
.image img{
    border-radius: 10px;
    height: 360px;
    width: 22vw;
}
.info{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}
.desc{
    font-size:17.25px;
    font-weight: 400;
    color: black;
    background-color: white;
    padding: 15px;
}
.browse{
    color: white;
    background-color: green;
    border-radius:25px;
    font-size: 17px;
    width: 120px;
    margin-bottom: 20px;
    margin-left: 200px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}