*{
    margin: 0px;
    padding: 0;
    /* background-color: black; */
}
.container{
    margin: 40px 10px 20px 40px;
    border-radius: 10px;
    width: 507px;
    height: 250px;
    background-color: #5746EA;
    padding: 10px;
    display: flex;
}
#headphone{
    height: 230px;
    width: 150px;
    background-color: #5746EA;
}
.info p{
    background-color: #5746EA;
    height:95px;
}
